<h1>Inventory</h1>


<body>

  <form class="" action="/inventory/quantity_thresh" method="post">
    <label for="quantity_thresh">Set Quantity Warning Threshold:
      <input type="text" name="quantity_thresh" id="quantity_thresh"/>
    </label>
    <input class="" type='submit' value="Change">
  </form>

  <form class="" action="/inventory/record_label" method="post">
    <label>
      Filter by Record Label:
        <select name= "record_label_id" id="rec_labels">
          <% for label in @record_labels %>
            <option value="<%=label.id%>"><%= label.name %></option>
          <% end %>
        </select>
    </label>
    <input class="" type='submit' value="Change">
  </form>

  <form class="" action="/inventory/artist" method="post">
    <label>
      Filter by Artist:
      <select name= "artist_id" id="artist_id">
        <% for artist in @artists %>
          <option value="<%=artist.id%>"><%= artist.name %></option>
        <% end %>
      </select>
    </label>
    <input class="" type='submit' value="Change">
  </form>


  <ul>
    <table class="center">
      <tr>
        <th> Record Name </th>
        <th> Description </th>
        <th> Genre </th>
        <th> Buy Cost </th>
        <th> Sell Cost </th>
        <th> Markup </th>
        <th> Record Label </th>
        <th> Artist </th>
        <th> Quantity </th>
        <th> Edit </th>
        <th> Delete </th>
        <tbody>
          <% for record in @records %>
            <% if record.artist_id.to_i == @label_id %>
            <tr>
              <td><%= record.name %></td>

              <td><%= record.description %></td>

              <td><%= record.genre %></td>

              <td><% cost1 = record.buy_cost %>
              <%= cost1/100 %></td>

              <td><% cost2 = record.sell_cost %>
                <%= cost2/100 %></td>

              <td><% cost1 = record.buy_cost%>
                <% cost2 = record.sell_cost %>
                <% profit = (cost2 - cost1).to_f%>
                <% markup = profit/cost1%>
                <% final = markup * 100%>
                <%=final.round(2)%>
                <%= "%" %>
              </td>


              <td><% id = record.record_label_id %>
                  <% x = 0 %>
                  <% for value in @record_label_ids%>
                    <% if value == id %>
                      <% label= RecordLabel.find_by_id(id) %>
                      <% x= 1 %>
                      <%= label.name %>
                    <% end %>
                  <% end %>
                  <% if x == 0 %>
                    <%="No record label assigned"%>
                  <% end %>
              </td>

              <td><% id = record.artist_id %>
                <% x = 0 %>
                <% for value in @artist_ids%>
                  <% if value == id %>
                    <% artist= Artist.find_by_id(id) %>
                    <% x= 1 %>
                    <%= artist.name %>
                  <% end %>
                <% end %>
                <% if x == 0 %>
                  <%="No Artist assigned"%>
                <% end %>
              </td>

              <td <% if record.quantity < 5 %>
                    <%="bgcolor= #F36B6B"%>
                  <% else %>
                  <%= "bgcolor= #DAF7A6" %>
                  <% end %>>
                <%= record.quantity %>
              </td>

              <td><form action="/inventory/<%= record.id %>/edit" method="post">
                <input type="submit" value="Edit"/>
              </form></td>

              <td><form action="/inventory/<%= record.id %>/delete" method="post">
                <input type="submit" value="Delete"/>
              </form></td>

            </tr>

          <p><% end %></p>
          <% end %>
        </tbody>

      </tr>
    </table>

    <p class="">
      <a class="" href="/inventory/new">Add new record</a>
    </p>

  </ul>
</body>
