<h1>Inventory</h1>


<ul>
  <table>
    <tr>
      <th> Record Name </th>
      <th> Description </th>
      <th> Genre </th>
      <th> Buy Cost </th>
      <th> Sell Cost </th>
      <th> Record Label </th>
      <th> Artist </th>
      <th> Quantity </th>
      <th> Edit </th>
      <th> Delete </th>
      <tbody>
        <% for record in @records %>
        <tr>
          <td><%= record.name %></td>

          <td><%= record.description %></td>

          <td><%= record.genre %></td>

          <td><%= record.buy_cost %></td>

          <td><%= record.sell_cost %></td>


          <td><% id = record.record_label_id %>
              <% x = 0 %>
              <% for value in @record_label_ids%>
                <% if value == id %>
                  <% label= RecordLabel.find_by_id(id) %>
                  <% x= 1 %>
                  <%= label.name %>
                <% end %>
              <% end %>
              <% if x == 0 %>
                <%="No record label assigned"%>
              <% end %>
          </td>

          <td><% id = record.artist_id %>
            <% x = 0 %>
            <% for value in @artist_ids%>
              <% if value == id %>
                <% artist= Artist.find_by_id(id) %>
                <% x= 1 %>
                <%= artist.name %>
              <% end %>
            <% end %>
            <% if x == 0 %>
              <%="No Artist assigned"%>
            <% end %>
          </td>

          <td <% if record.quantity < 5 %>
                <%="bgcolor= red"%>
              <% end %>>
            <%= record.quantity %>
          </td>

          <td><form action="/inventory/<%= record.id %>/edit" method="post">
            <input type="submit" value="Edit"/>
          </form></td>

          <td><form action="/inventory/<%= record.id %>/delete" method="post">
            <input type="submit" value="Delete"/>
          </form></td>

        </tr>

        <p><% end %></p>
      </tbody>

    </tr>
  </table>

  <p class="">
    <a class="" href="/inventory/new">Add new record</a>
  </p>

</ul>
