<h1> <%=@record.name%></h1>


<ul>
  <table class="center">
    <tr>
      <th> Record Name </th>
      <th> Description </th>
      <th> Genre </th>
      <th> Buy Cost </th>
      <th> Sell Cost </th>
      <th> Record Label </th>
      <th> Artist </th>
      <th> Quantity </th>
      <th> Edit </th>
      <th> Delete </th>
      <tbody>

        <tr>
          <td><%= @record.name %></td>

          <td><%= @record.description %></td>

          <td><%= @record.genre %></td>

          <td><% cost1 = @record.buy_cost %>
          <%= "£#{cost1/100}" %></td>

          <td><%cost2 = @record.sell_cost %>
          <%= "£#{cost2/100}" %></td>

          <td><% id = @record.record_label_id %>
              <% label= RecordLabel.find_by_id(id) %>
              <%= label.name %>
          </td>

          <td><% id = @record.artist_id %>
              <% artist= Artist.find_by_id(id) %>
              <%= artist.name %>
          </td>

          <td <% if @record.quantity < 5 %>
                <%="bgcolor= #F36B6B"%>
              <% else %>
              <%= "bgcolor= #DAF7A6" %>
              <% end %>>
              <%= @record.quantity %>
          </td>

          <td><form action="/inventory/<%= @record.id %>/edit" method="post">
            <input type="submit" value="Edit"/>
          </form></td>

          <td><form action="/inventory/<%= @record.id %>/delete" method="post">
            <input type="submit" value="Delete"/>
          </form></td>

        </tr>

      </tbody>

    </tr>
  </table>
